{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>ТОО НТК Sfera-S</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
		<link rel="icon" href="{% static 'images\ss.png' %}">
		<link rel="stylesheet" href="{% static 'css/kontact.css' %}">
		<style>
			body{
				background-color: #C3E2D9;
			}
		</style>
	</head>
	<body>
		<!-- Шапка сайта -->
		<nav class="navbar navbar-light justify-content-between">
			<a class="navbar-brand" style="font-size: 25pt; color: #00AF3F;" href="main">
				<img src="{% static 'images\ss.png' %}" width="55" height="55" class="d-inline-block align-top">
				ТОО НТК Sfera-S
			</a>
		    <a href="https://www.facebook.com/" class="fa fa-facebook" style="color: #395498;"></a>
        	<a href="https://www.instagram.com"><i class="fa fa-instagram" style="color: #C93093;"></i></a>
		 	<a href="https://www.vk.com"><i class="fa fa-vk" style="color: #4A719E;"></i></a>
			<form class="form-inline">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</nav>

		<!-- Меню сайта -->
		<ul id="menu" style="background-color: #00AF3F;">
			<li><a href="main"><h5>Главная</h5></a></li>
			<li><a href="services"><h5>Наши услуги</h5></a>
				<ul class="sub-menu">
					<li><a href="outsourcing">IT аутсорсинг</a></li>
					<li><a href="repairs_laptop">Ремонт ноутбуков</a></li>
					<li><a href="repairs">Ремонт компьютеров</a></li>
					<li><a href="recovery">Восстановление информации</a></li>
					<li><a href="clean">Чистка</a></li>
					<li><a href="assembly">Сборка</a></li>
				</ul>
			</li>
			<li><a href="price"><h5>Прайст-лист</h5></a></li>
			<li><a href="news"><h5>Новости</h5></a></li>
			<li><a href="contacts"><h5>Контакты</h5></a></li>
		</ul>

		

		<!-- Контакты -->
		<div class="main">
			<article>
				<p style="padding-top: 20px;"><strong>Наш адрес:</strong></p>
				<p>Адрес: г. Алматы, ул. Досмухамедова 89, БЦ "Каспий", 0 этаж, 007 кабинет.</p>
				<p>Телефон: + 7 (727) 35-73-513</p>
				<p>Телефон: +7 (707) 729 28 26</p>
				<p style="padding-bottom: 20px;">E-mail: <a href="mailto:alfa_gamma.kz" style="color: blue">itm@mail.ru</a></p>
			</article>
		</div>	

		<!-- Footer -->
		<footer class="page-footer font-small unique-color-dark">

			<div style="background-color: #00AF3F;">
				<div class="container">

					<!-- Grid row-->
					<div class="row py-4 d-flex align-items-center">

						<!-- Grid column -->
						<div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
							<h6 class="mb-0">Свяжитесь с нами в социальных сетях!</h6>
						</div>
						<!-- Grid column -->

						<!-- Grid column -->
						<div class="col-md-6 col-lg-7 text-center text-md-right">

							<!-- Facebook -->
							<a href="https://www.facebook.com/" class="fb-ic" style="color: #608DFF;">
							<i class="fa fa-facebook white-text mr-4"> </i>
							</a>
							<!-- Twitter -->
							<a href="https://www.twitter.com/"  class="tw-ic" style="color: #34B3F7">
							<i class="fa fa-twitter white-text mr-4"> </i>
							</a>
							<!--vk -->
							<a href="https://www.vk.com/"  class="li-ic" style="color: #4A719E;">
							<i class="fa fa-vk white-text mr-4"> </i>
							</a>
							<!--Instagram-->
							<a href="https://www.instagram.com/"  class="ins-ic" style="color: #C93093;">
							<i class="fa fa-instagram white-text"> </i>
							</a>

						</div>
						<!-- Grid column -->

					</div>
					<!-- Grid row-->

				</div>
			</div>

			<!-- Footer Links -->
			<div class="container text-center text-md-left mt-5">

				<!-- Grid row -->
				<div class="row mt-3">

					<!-- Grid column -->
					<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

						<!-- Content -->
						<h6 class="text-uppercase font-weight-bold">ТОО НТК Sfera-s</h6>
						<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
						<p>Компания «ТОО НТК Sfera-s» - это лучшее решение в сфере ИТ-Аутсорсинга в Алматы! Обслуживаем компьютеры и сети с любовью!</p>

					</div>
					<!-- Grid column -->

					<!-- Grid column -->
					<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

						<!-- Links -->
						<h6 class="text-uppercase font-weight-bold">НАШИ ПАРТНЕРЫ</h6>
						<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
						<p>Компания А</p>
						<p>Компания Б</p>
						<p>Компания В</p>
						<p>Компания Г</p>

					</div>
					<!-- Grid column -->

					<!-- Grid column -->
					<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

						<!-- Links -->
						<h6 class="text-uppercase font-weight-bold">ПОЛЕЗНЫЕ ССЫЛКИ</h6>
						<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
						<p>
						<a href="services">Наши услуги</a>
						</p>
						<p>
						<a href="price">Прайс-лист</a>
						</p>

					</div>
					<!-- Grid column -->

					<!-- Grid column -->
					<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

						<!-- Links -->
						<h6 class="text-uppercase font-weight-bold">Контакты</h6>
						<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
						<p>
						<i class="fa fa-home mr-3"></i> г. Алматы, ул. Досмухамбетова 89</p>
						<p>
						<i class="fa fa-envelope mr-3"></i> itm@mail.ru</p>
						<p>
						<i class="fa fa-phone mr-3"></i> + 7 777 777 77 77</p>

					</div>
					<!-- Grid column -->

				</div>
				<!-- Grid row -->

			</div>
			<!-- Footer Links -->

			<!-- Copyright -->
			<div class="footer-copyright text-center py-3">© 2019 Авторские права:
				<a href="https://mdbootstrap.com/education/bootstrap/"> nursultan_ak@mail.ru</a>
			</div>
			<!-- Copyright -->

		</footer>
		<!-- Footer -->

		<!-- Optional JavaScript -->
    	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

	</body>
</html>