{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>ТОО НТК Sfera-S</title>
		<meta charset="utf-8">

		<!-- Для обеспечения правильной визуализации и осязание масштабирования для всех устройств -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- чтобы загрузить наш CSS от Bootscrap -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

		<link rel="icon" href="images/ss.png">
        <link rel="stylesheet" href="{% static 'css/praist.css' %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	   	<script src="code.js"></script>
		<style>
			body{
				background-color: #444444;
				/*box-sizing: border-box;*/
			}
		</style>
	</head>
	<body>
		<!-- Шапка сайта -->
		<div class="container">
			<div class="row">
				<div class="col-1">
					<img src="images/ss.png" width="45" height="45" alt="Navbar">
				</div>
				<div class="col-3">
					<a class="navbar-brand" href="main">
						<h1 style="font-size:180%;">ТОО НТК Sfera-S</h1>
  					</a>
				</div>
				<div class="col-4">
					<div class="contackt">
						<a href="#"> + 7 (727) 35-73-513</a><br>
						<a href="#">+ 7 (707) 729-28-26 (WhatsApp)</a><br>
						<a href="mailto:info@ss.kz">info@ss.kz</a>
					</div>
				</div>
				<div class="col-4">
					<div class="search">
	  					<form class="form-inline">
			    			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			    			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
	  					</form>
  					</div>
				</div>
			</div>
		</div>

		
		<!-- Меню сайта -->
		<ul id="menu">
			<li><a href="main"><h5>Главная</h5></a></li>
			<li><a href="services"><h5>Наши услуги</h5></a>
				<ul class="sub-menu">
					<li><a href="outsourcing">IT аутсорсинг</a></li>
					<li><a href="repairs_laptop">Ремонт ноутбуков</a></li>
					<li><a href="repairs">Ремонт компьютеров</a></li>
					<li><a href="recovery">Восстановление информации</a></li>
					<li><a href="clean">Чистка</a></li>
					<li><a href="assembly">Сборка</a></li>
				</ul>
			</li>
			<li><a href="price"><h5>Прайст-лист</h5></a></li>
			<li><a href="news"><h5>Новости</h5></a></li>
			<li><a href="contacts"><h5>Контакты</h5></a></li>
		</ul>

		

	<div class="main">

		<!-- Прайст-лист -->
		<div class="praist">

			<a style="text-align: center;"><h3>Перечень выполняемых работ для ноутбуков, компьютеров и моноблоков</h3></a>
			<table border="3">
				<tr>
					<th><h5>Виды проводимых работ</h5></th>
					<th><h5>Цена (тг.)</h5></th>
				</tr>

		  		<tr><td><h5>Диагностика устройства</h5></td><td><h5>БЕСПЛАТНО!</h5></td></tr>

		  		<tr><td>Замена Верхней части корпуса (Top Case)</td><td><button style="background: white; border-color: white;" id="1" onClick="reply_click(this.id)">6000 тг</button></td></tr>
	  			<tr><td>Замена Нижней части корпуса (Bottom Case)</td><td><button id="2" onClick="reply_click(this.id)">5500 тг</button></td></tr>
	  			<tr><td>Замена Верхней крышки (за матрицей) (LCD Cover)</td><td><button id="3" onClick="reply_click(this.id)">4500 тг</button></td></tr>
	  			<tr><td>Замена Матрицы</td><td><button id="4" onClick="reply_click(this.id)">4500 тг</button></td></tr>
	  			<tr><td>Замена Шлейфа матрицы (LVDS-cabel)</td><td><button id="5" onClick="reply_click(this.id)">5500 тг</button></td></tr>
	  			<tr><td>Замена рамки вокруг матрицы (LCD Bezel)</td><td><button id="6" onClick="reply_click(this.id)">4000 тг</button></td></tr>
	  			<tr><td>Замена крышки Дисковода</td><td><button id="7" onClick="reply_click(this.id)">1000 тг</button></td></tr>
	  			<tr><td>Замена аккумуляторной батареи</td><td><button id="8" onClick="reply_click(this.id)">2000 тг</button></td></tr>
	  			<tr><td>Замена HDD (Жесткий диск) с установкой ОС</td><td><button id="9" onClick="reply_click(this.id)">6000 тг</button></td></tr>
	  			<tr><td>Замена Оперативной памяти ОЗУ(DDR)</td><td><button id="10" onClick="reply_click(this.id)">2000 тг</button></td></tr>
	  			<tr><td>Замена динамиков</td><td><button id="11" onClick="reply_click(this.id)">3000 тг</button></td></tr>
	  			<tr><td>Замена Системы охлаждения (Thermal module)</td><td><button id="12" onClick="reply_click(this.id)">4000 тг</button></td></tr>
	  			<tr><td>Замена Кулера(вентилятора) (FAN)</td><td><button id="13" onClick="reply_click(this.id)">3000 тг</button></td></tr>
	  			<tr><td>Замена CMOS-батареи (для BIOS)</td><td><button id="14" onClick="reply_click(this.id)">3000 тг</button></td></tr>
	  			<tr><td>Замена WI-FI-модуля</td><td><button id="15" onClick="reply_click(this.id)">2000 тг</button></td></tr>
	  			<tr><td>Замена различных шлейфов, объединяющих комплектующие</td><td><button id="16" onClick="reply_click(this.id)">3000 тг</button></td></tr>
	  			<tr><td>Замена Материнской Платы (MAIN Board)</td><td><button id="17" onClick="reply_click(this.id)">6000 тг</button></td></tr>
	  			<tr><td>Замена различных внутренних плат расширения (с разъемами)</td><td><button id="18" onClick="reply_click(this.id)">3000 тг</button></td></tr>
	  			<tr><td>Замена Тачпада (Touchpad)</td><td><button id="19" onClick="reply_click(this.id)">5000 тг</button></td></tr>
	  			<tr><td>Замена/ремонт креплений (HINGE)</td><td><button id="20" onClick="reply_click(this.id)">5000 тг</button></td></tr>
	  			<tr><td>Замена-перепайка порта питания (DC-IN)</td><td><button id="21" onClick="reply_click(this.id)">12000 тг</button></td></tr>
	  			<tr><td>Компонентный ремонт мат.плат (восстановление)</td><td><button id="22" onClick="reply_click(this.id)">30000 тг</button></td></tr>
	  			<tr><td>Замена Клавиатуры</td><td><button id="23" onClick="reply_click(this.id)">2000 тг</button></td></tr>
	  			<tr><td>Замена кнопок клавиатуры</td><td><button id="24" onClick="reply_click(this.id)">500 тг за ед.</button></td></tr>
	  			<tr><td>Восстановление заводской ОС</td><td><button id="25" onClick="reply_click(this.id)">5000 тг</button></td></tr>
	  			<tr><td>Чистка, профилактика системы охлаждения</td><td><button id="26" onClick="reply_click(this.id)">5000 тг</button></td></tr>
	  			<tr><td>Сохранение данных с исправных носителей</td><td><button id="27" onClick="reply_click(this.id)">8000 тг</button></td></tr>
	  			<tr><td>Сохранение данных с неисправного носителя, за 1gb (в том числе SSD-диски)</td><td><button id="28" onClick="reply_click(this.id)">2000 тг</button></td></tr>
			</table>
			
		</div>	

		<!-- Оставьте заявку сейчас и получите 10% скидку -->
		<div class="oz" align="center">
			<h2>Оставьте заявку сейчас и получите 10% скидку</h2>
		</div>
		<div id="container">
			<div class="row">
				<div class="col-2"></div>
				<div class="col-4" id="three">
					<label>Имя: <span style="font-weight:bold; color:#FF0000">*</span></label><br>
					<input name="name" type="text" size="40" class="text"/>
				</div>
				<div class="col-4" id="four">
					<label>Телефон: <span style="font-weight:bold; color:#FF0000">*</span></label><br>
					<input name="Phone" type="" size="40" class="number"/>
				</div>
				<div class="col-2" id="five">
					<br><button type="button" onclick="alert('Спасибо! Мы обязательно ответим вам.')">Отправить</button>
				</div>
			</div>
		</div>

		
		<!-- Footer -->
		<footer class="page-footer font-small mdb-color darken-3 pt-4" id="footer">
			<div class="container">
				<div class="row d-flex justify-content-center">
					<div class="col-md-6">
						<div class="embed-responsive embed-responsive-16by9 mb-4">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vlDzYIIOYmM" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
			
			<div class="footer-copyright text-center py-3" id="footer-down" style="color: white;">2019 &copy Все права защищены. 
			<a href="#"> nursultan_ak@mail.ru</a>
		</div>
		</footer>

	</div>

		<!-- Optional JavaScript -->
    	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

	</body>
</html>